h1#nome{
  text-align: center;
  font-size: 600%;
  color: magenta;
  text-shadow: 3px 3px 1px blue;
}
h1#inf{
  margin-left: 40px;
  font-size: 500%;
  text-shadow: 3px 3px 1px white;
}
label{
  text-align: center;
  width: 80%;
  margin-left: 20%;
  font-size: 500%;
  text-shadow: 3px 3px 1px black;
  color: white;
}
input{
  width: 60%;
  font-size: 400%;
  margin-inline-start: 20%;
    text-align: center;
}
input#btn{
  background-color: magenta;
  color: white;
  margin-top: 20px;
  border-radius: 100px;
}
h1#nomeagente{
  text-align: center;font-size: 500%;
  color: blue;
  text-shadow: 2px 2px 1px white;
}

input#excluir{
  width: 40%;
  margin-left: 56%;
  position: absolute;
  margin-top: -10.2%;
    background-color: magenta;
  border-radius: 20px;
  color: white;
}
input#up{
  width: 40%;
  margin-left: 2%;
  background-color: magenta;
  border-radius: 20px;
  color: white;
}