h1#lista{
  text-align: center;
  color: white;
  font-size: 500%;
  text-shadow: 2px 2px 1px black;
}
p{
  font-size: 500%;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin-left: 30px;
}
a{
  text-decoration: none;
}
  input{
    width: 80%;
    margin-left: 10%;
    font-size: 60px;
    border: none;
    background-color: transparent;
    text-align: left;
    text-shadow: 3px 3px 1px white;
  }
  input#painelbtn{
  width: 80%;
  background-color: magenta;
  text-align: center;
  color: white;
  height: 150px;
  text-shadow: 3px 3px 1px black;
  border: 5px solid black;
  border-radius: 9px;
}